@import "tailwindcss";

/* Clases disponibles: font-script, font-serif, font-sans */
@theme inline {
  --font-script: var(--font-great-vibes);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}
